#header{
	width:100%;
    background-color:#ef4e3a;
    border-radius:20px;
    text-align:center;
    font-weight:bold;
    color:white;
    margin-bottom:25px;
} 
#profile-image {
    display: block;
    z-index:1000;
    border-radius: 50%; 
    width: 155px;
    height: 150px;
    border: 2px solid #f8f8f8; 
    box-shadow: 0 0 0 3px #43cee6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}  
.searchBar{
	color:dark;
    border:2px solid red;
    border-bottom:none;
    background-color:white;
}
.searchBar label{
	width:100%;
    background-color:red;
}
.searchBar input{
	width:95%;
    color:purple;
}
.circlebutton{
    border-radius:50%;
    background-color:red;
    color:white;
    font-weight:bold; 
    height:50px;
    font-size:50px;
    width:50px;
    text-align:center;
    border:1px solid red;
    line-height:45px;
    float:right;
    position:relative;
    right:5%;
    top:45px;
}
.item{
	background-color:grey;
    border-bottom:2px solid purple;
    color:yellow;
}
.badgeJohnson {
    background-color: transparent;
    color: #AAAAAA;
    z-index: 1;
    display: inline-block;
    height: 27px;
    padding: 3px 8px;
    border-radius: 5px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 ;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: block;
    min-width: 0px;
    background-color:purple;
    color:white;
    overflow:hidden;
    text-overflow:ellipsis;
}
.iosStatusBox{
    position:absolute;
    background-color:transparent;
    border:2px solid transparent;
    box-shadow: 0 0 0 2px red;
    color:dark;
    font-weight:bold;
    border-radius:8px;
    float:right;
    right:3%;
}
.badgeJohnson .custom{
    margin-bottom:2%;
    background-color:red;
    display:table;
    min-width:0px;
}
.images {
    width: 12%;
    max-width: 80px;
    max-height: 80px;
    margin-left: 2px;
}
.text {
	float: right;
    position: relative;
    right: 350px;
}