#header{
	width:100%;
    background-color:#ef4e3a;
    border-radius:20px;
    text-align:center;
    font-weight:bold;
    color:white;
    margin-bottom:25px;
} 
.searchBar{
	color:dark;
    border:2px solid red;
    border-bottom:none;
    background-color:white;
}
.searchBar label{
	width:100%;
    background-color:red;
}
.searchBar input{
	width:95%;
    color:purple;
}
.circlebutton{
    border-radius:50%;
    background-color:orange;
    color:red;
    font-weight:bold; 
    height:50px;
    font-size:50px;
    width:50px;
    text-align:center;
    border:1px solid red;
    line-height:45px;
    right:5%;
    float:right;
}
.item{
	background-color:grey;
    border-bottom:2px solid purple;
    color:yellow;
}
.badgeJohnson {
    background-color: transparent;
    color: #AAAAAA;
    z-index: 1;
    display: inline-block;
    height: 27px;
    padding: 3px 8px;
    border-radius: 5px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 ;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: block;
    min-width: 0px;
    background-color:purple;
    color:white;
    overflow:hidden;
    text-overflow:ellipsis;
}
.images {
    width: 12%;
    max-width: 80px;
    max-height: 80px;
}