<script type="text/ng-template" id="main.html">
	<div id="header">Buy</div>  
    <div class="searchBar" ng-click="clearSearch()">
          <label class="item item-input" id="searchBarLabel" style="width:100%;">
           <input type="text" ng-model="query.input" placeholder="Search in Booklistic Market" style="margin-left:5%;"/>
          </label>
	</div>
    <div ng-repeat="book in content" id="buyitem">
        <div class="item">
            <i class="badgeJohnson">{{book.title}}</i>
            <img class="images" src="{{book.image}}"/> 
            Course Name: {{book.course}}<br/>
            Price: ${{book.originalPrice}} 
            &nbsp;
            &nbsp;
            &nbsp;
            SKU #: {{book.SKU}}
        </div>
	</div>
</script>  

<script type="text/ng-template" id="sell.html">
    <div id="header">Sell</div>  
    <div id="sellitem" style="backround-color:red;">
        <div class="circlebutton">&#43</div>
	</div> 
</script>

<script type="text/ng-template" id="mybook.html"> 
    <div id="header">My Book</div>  
    <div id="mybookitem">
        <div class="item">
            <i class="badgeJohnson">{{content[1].title}}</i>
            <img class="images" src="{{content[1].image}}"/> 
            Course Name: {{content[1].course}}<br/>
            Price: ${{content[1].originalPrice}} 
            &nbsp;
            &nbsp;
            &nbsp;
            SKU #: {{content[1].SKU}}
        </div>
	</div>
</script>


<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="tab('buy')">Buy</a>
        <a ng-click="tab('sell')">Sell</a>
        <a ng-click="tab('mybook')">My Book</a>
    </li>
</script>