<script type="text/ng-template" id="main.html">
	<div id="header">{{headertext}}</div> 
	<!--Buy Item -->
 
    <div ng-repeat="book in content" id="buyitem">
        <div class="item">
            <i class="badgeJohnson">{{book.title}}</i>
            <img class="images" src="{{book.image}}"/> 
            <i> </i>
            
        </div>
	</div>
         
    <!--Sell Item -->
    <div id="sellitem" style="backround-color:red;">
        red
	</div>
    
    <!--My Book Item -->
    <div id="mybookitem">
        <div class="item">
            <img class="images" src="{{content[1].image}}"/> 
            <i class="badgeJohnson">{{content[1].title}}</i>
        </div>
	</div>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="tab('buy')">Buy</a>
        <a ng-click="tab('sell')">Sell</a>
        <a ng-click="tab('mybook')">My Book</a>
    </li>
</script>